.container {
  position: relative;
}

.dropdown {
  position: absolute;
  z-index: 10;
  background-color: var(--backgroundColor);
  border: 1px solid var(--borderColor);
  border-radius: 4px;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.down {
  top: calc(100% + 4px);
}

.up {
  bottom: calc(100% + 4px);
}

.down.left {
  transform-origin: top left;
}

.down.right {
  transform-origin: top right;
}

.up.left {
  transform-origin: bottom left;
}

.up.right {
  transform-origin: bottom right;
}

.option {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 6px 10px;
  font-size: 12px;
  background: transparent;
  border: 0;
  cursor: pointer;
  white-space: nowrap;
  user-select: none;
}

.option:hover {
  background-color: var(--dropdown-option-hover-background-color);
}

.down {
  animation: blowUpDown 0.05s forwards;
}

.up {
  animation: blowUpUp 0.05s forwards;
}

@keyframes blowUpDown {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes blowUpUp {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
