.bar {
  height: 32px;
  width: 100%;
  border-top: 2px solid var(--borderColor);
  display: flex;
  align-items: center;
  padding: 0 10px;
  gap: 14px;
}

.bar.vertical {
  height: 100%;
  width: 32px;
  border: 0;
  border-right: 2px solid var(--borderColor);
  flex-direction: column;
  padding: 22px 0 20px 0;
  justify-content: flex-end;
}
