.content,
.record {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.tableWrapper {
  overflow: auto;
  max-height: 320px;
}

.table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

.table th,
.table td {
  padding: 8px;
  text-align: left;
  vertical-align: top;
  overflow-wrap: anywhere;
  white-space: pre-wrap;
  border-bottom: 1px solid var(--conflict-border-color);
}

.table th {
  user-select: none;
}
