.container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.container input {
  width: 100%;
  border: 0;
  background-color: transparent;
  border-radius: 4px;
  font-size: 14px;
  outline: none !important;
}

input::-webkit-input-placeholder {
  color: var(--placeholderColor);
}

.dropdownContainer {
  position: absolute;
  z-index: 2;
  top: 36px;
  left: 0;

  display: flex;
  width: 100%;
  max-height: 200px;
  height: var(--height);
  border-radius: 4px;
  border: 1px solid var(--autocomplete-border-color);
  box-shadow: 0 8px 24px var(--autocomplete-shadow-color);
}

.dropdownContainer.openUp {
  top: auto;
  bottom: 36px;
}

.row {
  display: flex;
  cursor: pointer;
  padding: 10px 4px;
  max-width: 100%;
  max-height: 41px;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
}

.row:hover {
  background-color: var(--autocomplete-hover-background-color);
}

.row.selected {
  background-color: var(--autocomplete-selected-background-color);
}

.row.active {
  background-color: var(--autocomplete-active-background-color);
}

.emptyMessage {
  padding: 4px;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
  opacity: 0.8;
  user-select: none;
  margin-top: 4px;
}

.iconContainer {
  right: 8px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  height: 100%;
}
