.container {
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.content.vertical {
  width: 100%;
}

.resizeBar {
  z-index: 1;
  border-collapse: none;
  user-select: none;
  position: absolute;
  background-color: transparent;
}

.resizeBar.horizontal {
  cursor: ew-resize;
  right: -2px;
  top: 0;
  height: 100%;
  width: 4px;
}

.resizeBar.horizontal.left {
  left: -2px;
  right: unset;
}

.resizeBar.vertical {
  cursor: n-resize;
  top: 0;
  height: 4px;
  width: 100%;
}
