.categoryBarButton {
  width: 100%;
  padding: 10px 10px;
  position: relative;
  cursor: pointer;
  color: var(--colorMenuBar);
  background-color: transparent;
  border: 0;
}

.categoryBarButton svg {
  color: var(--colorMenuBar);
}

.categoryBarButton:hover:not(.active) svg {
  opacity: 0.8;
}

.categoryBarButton.active::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 2px;
  background-color: var(--ascentColorMenuBar);
  top: 0;
  left: 0;
}

.categoryBarButton.active svg {
  color: var(--ascentColorMenuBar);
}

.categoryBar {
  display: flex;
  flex-direction: column;
  background-color: var(--backgroundColorMenuBar);
}
