.container {
  width: 100%;
  position: relative;
}

.isRequired label::after {
  content: '*';
  margin-left: 1px;
  color: var(--color-red);
  font-size: 14px;
}

.select {
  width: 100%;
  background-color: var(--color-dark-light2);
  color: var(--color-white);
  border: 0;
  border-radius: 4px;
  height: 28px;
  outline: transparent;
  padding: 0 10px;

  -o-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.icon {
  color: var(--color-white);
  position: absolute;
  right: 6px;
  top: 27px;
  pointer-events: none;
}
