.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.filterBar {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 4px 10px;
  border-bottom: 1px solid #191622;
  flex-shrink: 0;
}

.filterInput {
  width: 100%;
  border: 0;
  background-color: transparent;
  height: 24px;
  padding: 0 8px;
  font-size: 12px;
  font-family: monospace;
  outline: none;
}

.filterInput::placeholder {
  opacity: 0.5;
}

.content {
  display: flex;
  flex: 1;
  min-height: 0;
  overflow: hidden;
}

.tableWrapper {
  display: flex;
  flex: 1;
  min-width: 0;
}

.previewResizable {
  display: flex;
  flex-shrink: 0;
}

.preview {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
  border-left: 1px solid #ffffff22;
}

.previewHeader {
  display: flex;
  flex-shrink: 0;
}

.previewHeader > :first-child {
  flex: 1;
  min-width: 0;
}

.previewLoading {
  width: 100%;
  height: 100%;
  padding: 12px;
}

.countButton {
  gap: 6px;
  padding: 2px 6px;
}

.countValue {
  font-family: monospace;
  font-size: 11px;
}

.bottomBarInfoContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rowsInfoText {
  color: var(--color-white);
  user-select: none;
}
