.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.filterBar {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 4px 10px;
  border-bottom: 1px solid #191622;
  flex-shrink: 0;
}

.filterInput {
  width: 100%;
  border: 0;
  background-color: transparent;
  height: 24px;
  padding: 0 8px;
  font-size: 12px;
  font-family: monospace;
  outline: none;
}

.filterInput::placeholder {
  opacity: 0.5;
}

.bottomBarInfoContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rowsInfoText {
  color: var(--color-white);
  user-select: none;
}
