.outputList {
  height: 410px;
  overflow: auto;
  margin-bottom: 12px;
}

.outputItem {
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 4px;
  background: var(--server-output-background-color);
}

.outputItem pre {
  margin: 4px 0 0;
  color: inherit;
  white-space: pre-wrap;
  word-break: break-word;
  user-select: text;
}
