.container {
  position: fixed;
  z-index: 4;
  background-color: var(--backgroundColor);
  border: 1px solid var(--borderColor);
  border-radius: 4px;
  animation: blowUp 0.05s forwards;
}

@keyframes blowUp {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
